DISCORD_TOKEN=tu_discord_bot_token_aqui
VERBOAI_TOKEN=tu_verboai_token_aqui
VERBOAI_URL=https://verboai.duckdns.org
MONGODB_URI=mongodb+srv://mmodcat_db_user:<db_password>@cluster0.sz5kbsv.mongodb.net/?appName=Cluster0
